In [1]:
import pandas as pd
import nltk
from bs4 import BeautifulSoup
import string
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer

In [2]:
# Importing the dataset 
data = pd.read_csv("data1.csv",encoding= 'unicode_escape')
data

,Full name,Title,Location,Summary,Organization 1,Organization Title 1,Organization Start 1,Organization End 1,Organization Description 1,Organization Location 1,...,Education Description 3,Skills,Followers,Relationship,Industry,Mutual Count,Mutual,Mutual 1,Mutual 2,Interests
0,Karthik Ragunathan,Data Science Consulting,"Chennai Area, India",* 11 years of experience in Data Science consu...,Data Science Consulting,Data Science Leadership,Oct-15,PRESENT,Successfully delivered Data Science Consulting...,"Chennai Area, India",...,NaN,"""Data Science : 0, Machine Learning : 0, Pytho...",NaN,2,Management Consulting,4,"Subbarao Yeddala, Anand H",Subbarao Yeddala,Anand H,The R Project for Statistical Computing; Data ...
1,Karthik Revanuru,Data Science at CRED,"bangalore, Karnataka, India",Currently part of Data Science team at CRED. ...,CRED,Data Science,Dec-19,PRESENT,NaN,NaN,...,NaN,"""Python : 4, C++ : 5, C : 6, Android Developme...",2110.0,2,Information Technology & Services,19,"Aman Goel, Manoj Marmat",Aman Goel,Manoj Marmat,Artificial Intelligence (AI) and Machine Learn...
2,Rahul Kulhari,Head of Data Science,"bangalore, Karnataka, India",Heading Data Science Team and building AI prod...,EdGE Networks Pvt. Ltd.,Head - Data Science,2018,PRESENT,"I am responsible for AI vision, strategy and E...","bangalore Area, India",...,NaN,"""Deep Learning : 3, Machine Learning : 22, Nat...",NaN,2,Computer Software,2,Sridhar A and Rajesh Shreedhar Bhat,Sridhar A,Rajesh Bhat,Narendra Modi; Deepak Chopra MD (official); Ac...
3,Sanjana Sathishkumar,Data Scientist at Wipro Limited,"Chennai, Tamil Nadu, India",Post graduate student in Data Science Engineer...,Wipro Limited,Data Scientist,Jul-20,PRESENT,NaN,NaN,...,NaN,"""Python (Programming Language) : 5, MySQL : 6,...",393.0,2,Information Technology & Services,4,"Sushmitha Pulagam, Aniruddha Kalbande",Sushmitha Pulagam,Aniruddha Kalbande,SAP; Deloitte; Verizon; Machine Learning and D...
4,Saurav C.,Director - Data Science at Freshworks,"bangalore, Karnataka, India",I am a Data Scientist with experience in conce...,Freshworks,Director - Data Science,Jul-20,PRESENT,NaN,"bangalore, Karnataka, India",...,NaN,"""IT Strategy : 34, Team Management : 31, Analy...",3093.0,2,Computer Software,7,"Sajin Madhavan S, Roshan Sharma",Sajin Madhavan,Roshan Sharma,Frost & Sullivan; Jeff Immelt; Teradata; Jeff ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Yaser Take,Data science at Gathi Analytics,"Hyderabad, Telangana, India",1) I am an engineer with computer science majo...,Gathi Analytics,Jr Data Engineer,Oct-19,PRESENT,NaN,NaN,...,NaN,"""Data Analysis : 7, SQL : 7, Python (Programmi...",6309.0,2,Information Technology & Services,53,"Meghashyam Chinta, Ramesh Dileep Kumar Appana,...",Meghashyam Chinta,Ramesh Kumar Appana,IBM; Azure Data Factory User Group; Naomi Sims...
116,Mohsin Hasan Khan,Senior Data Science at OkCredit,"bangalore, Karnataka, India",NaN,OkCredit,Senior Data Science,Apr-20,PRESENT,NaN,"bangalore, Karnataka, India",...,NaN,"""Algorithms : 13, Python : 8, Data Science : 6...",NaN,2,Information Technology & Services,11,"Karry Harsh, Subbarao Yeddala",Karry Harsh,Subbarao Yeddala,Huawei; Oracle; Adobe; LinkedIn; Data Science ...
117,Akarsh Agnivesh,Analytics & Data Science - Amazon,"Hyderabad, Telangana, India",Data-driven professional offering strengths in...,Amazon,"Manager, Business Intelligence & Platforms",Jul-19,PRESENT,NaN,"Hyderabad, Telangana",...,NaN,"""SQL : 37, Analytics : 28, Business Intelligen...",3075.0,2,Internet,15,"Vineeth Nalam, kavali kishore",Vineeth Nalam,Kavali Kishore,Reid Hoffman; Advanced Analytics; Bill Gates; ...
118,Archana K M,Data Science Consultant at Syniti,"bangalore, Karnataka, India",# Working as Data Science Consultant at Syniti...,Syniti,Data Science Consultant,Jan-19,PRESENT,- Developing computer vision solutions for ris...,"bangalore, Karnataka, India",...,NaN,"""Machine Learning : 4, Deep Learning : 2, Natu...",NaN,2,Information Technology & Services,13,"Sathyanarayanan O, Yogesh Jadhav",Sathyanarayanan O,Yogesh Jadhav,Data Scientists against Disease / #Covid19 / #...
119,Padmakumar Nambiar,Director - Data Science and Insights (AI & ML)...,"bangalore, Karnataka, India",Hands-on Senior Management Executive with abou...,Oracle,"Director Of Product Development (AI, Data Scie...",Nov-17,PRESENT,Leading Development and Engineering of cloud b...,NaN,...,NaN,"""Software Development : 48, Agile Methodologie...",5324.0,2,Information Technology & Services,7,"Dinesh RochiRamani, kavali kishore",Dinesh Rochiramani,Kavali Kishore,Satya Nadella; The Wharton School; National In...

In [3]:
data.isnull().mean().sort_values(ascending=False)

Education Description 3       0.941667
Education Description 2       0.925000
Education Description 1       0.833333
Organization Description 5    0.683333
Education FOS 3               0.666667
Education Degree 3            0.616667
Organization Location 5       0.608333
Organization Description 2    0.600000
Organization Description 4    0.600000
Organization Description 1    0.583333
Organization Description 3    0.583333
Education 3                   0.508333
Organization Location 4       0.483333
Organization 5                0.483333
Organization Title 5          0.483333
Organization End 5            0.483333
Organization Start 5          0.483333
Education FOS 2               0.341667
Organization 4                0.333333
Organization End 4            0.333333
Education Degree 2            0.333333
Organization Title 4          0.333333
Organization Start 4          0.333333
Organization Location 3       0.308333
Followers                     0.258333
Organization 3                0.208333
Organization Title 3          0.208333
Organization Start 3          0.208333
Organization End 3            0.208333
Education 2                   0.208333
Organization Location 2       0.200000
Organization Location 1       0.191667
Summary                       0.141667
Organization 2                0.083333
Organization Title 2          0.083333
Organization Start 2          0.083333
Organization End 2            0.083333
Education FOS 1               0.050000
Mutual 2                      0.033333
Organization End 1            0.033333
Education Degree 1            0.033333
Organization Title 1          0.033333
Organization Start 1          0.033333
Organization 1                0.033333
Location                      0.008333
Education 1                   0.008333
Industry                      0.008333
Title                         0.000000
Interests                     0.000000
Skills                        0.000000
Relationship                  0.000000
Mutual Count                  0.000000
Mutual                        0.000000
Mutual 1                      0.000000
Full name                     0.000000
dtype: float64

In [4]:
data['Education Description 3'].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                          113
During the course of study I gained good knowledge in mathematics and physics and practically understood the real time experiments.                                                                                                                            1
R G Shah Science College, Vasna, Ahmedabad                                                                                                                                                                                                                     1
Passed 10th and 12th from SHCS affiliated to ICSE board                                                                                                                                                                                                        1
1st Semester of the PGDBA programme                                                                                                                                                                                                                            1
Algebra,Real Analysis,Complex Analysis, Differential Equations,Numerical Analysis,Mathematical Programming,Game Theory,Multivariate Calculus,Economics,Chemistry,Prob. & Stats,Formal Logics/Symbolic Logics,Discrete Math.                                    1
Thesis title: âImplementation and Performance evaluation of an Automated model against DDoS attacks".Credits:A paper was published in International Journal of Wireless and Mobile Computing (IJWMC) on this work.www.uow.edu.au/~ymu/ijwmc/preface.pdf      1
Certified in APICS (CSCP) 2007Certified in Project Management Professional (PMP) 2009                                                                                                                                                                          1
Name: Education Description 3, dtype: int64

In [5]:
data['Education Description 2'].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                      111
Bachelor of Science (B.Sc.) in Physics and Mathematics.                                                                                                                                                                                                                                                                                                                                                    1
Coordinator of Graphic Poster Designing in Basant 2011, Coordinator of Web development in Basant 2011.                                                                                                                                                                                                                                                                                                     1
I graduated from the School of Biochemical Engineering in 2016. My B.tech and M.tech projects were in the field of Animal Tissue Engineering on 3-D Silk Scaffolds.                                                                                                                                                                                                                                        1
Studied Statistics as a Major Subject.                                                                                                                                                                                                                                                                                                                                                                     1
Implemented an algorithm for the Maximum r-regular induced sub-graph problem and performed empirical analysis of its performance on different types of graphs.                                                                                                                                                                                                                                             1
NIOS is an open schooling board comes under central govt of India,Head office is located in New Delhi.                                                                                                                                                                                                                                                                                                     1
Graduated with Honors (Distinction)                                                                                                                                                                                                                                                                                                                                                                        1
Thesis tile: Optimization under uncertainty for Energy Management in Smart Grid. The thesis work resulted into 7 published full papers in conferences of IEEE, ACM, CIGRE, Elsevier, IERE, 1 Book chapter and 2 Journals in submission/review. Presented the different phases of work 7 times in INFORMS, once in EURO conference. This work has 4 US patent grants and 1 patent pending application.      1
During my course of study I gained industrial knowledge apart from my academics and worked on my skills to enter into the corporate world from student .My major subjects are in electronics and communication engineering ,graduated from Osmania university, public university in Hyderabad, Telangana.                                                                                                  1
Name: Education Description 2, dtype: int64

In [6]:
data['Education Description 1'].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         100
Elected member of Student Activity Committee                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Courses - Data Structures And Algorithms, Computer Networks, Pattern Recognition, Neural Networks And Fuzzy Logic, Image Processing, Product Design And Development, Engineering Optimization, Financial Management, Marketing Management, Control Systems                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
Area of Thesis:Real Estate Markets, Reverse Mortgages in the Indian Context, actuarial valuations of reverse mortgages, property appreciation indices for cities in India                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
Completed one year Senior Management Program. Covered all the modules of general management - Strategy, Economics, Information Systems, Operations and supply management, Marketing, Organization Behavior,  Risk management and finance markets, Negotiation and Law, Finance Management, Human Resource Management, Ethics, Corporate Governance, Communication with ~100 cases and a Capstone project.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
Artificial Intelligence, Machine Learning, Computer Vision and Signal Processing, Cryptography, Achievements:- Startingbloc fellow 2011, Boston leadership Institute[Awarded to leaders with potential and past record of social impact]- Center for future storytelling fellow, MIT Media Lab 2010[Fully funded graduate research fellowship for innovations in frontier media technologies at Massachusetts Institute of Technology]- Narotam Sekhsaria Fellow 2009[Awarded to 10 students nationally all over India after psychometric, academic and leadership profiling]- IET UK International student fellow 2008 [Encyrption algorithms]- Represented India at IET-UK PATW International finals,      Amsterdam, Netherlands 2007,ranked 3rd. internationally.- Represented India at L'Oreal Ingenius 2007, Paris, France                                                                                                              1
Was awarded Prof. Achim Bopp prize for Best Hardware Project in B.Tech. Electrical Engineering during 51st Convocation of IITM                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
* Major- Product Design and Quality*Completed Practice School with the Aditya Auto Products Bangalore for six months (Jan 2003- Jun 2003).                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
Great Lakes PGP-DSE is a full-time program for early career professionals looking to build their career in data science & analytics by learning relevant data science techniques, tools and technologies, and hands-on application through industry case studies.PROGRAM CURRICULUM:Data Analytics Problem SolvingBusiness Modules in Marketing, Operations, Supply Chain and Financial AnalyticsCreating Analytics DashboardsStructured and Unstructured DataData Cleansing and Data ManipulationAccessing Data Servers using MySQLData Querying - SQL, Joins, Indexing, Stored procedures,ETL ProcessesData Modelling - Financial Modelling, What if Analysis,Scenario Generation,Pivot tables,Excel SolverData VisualisationStatisticsTime SeriesPredictive Modelling techniquesLinear RegressionLogistic RegressionDimensionality ReductionClassificationAssociationTOOLS COVERED:R, Python, Tableau, DBMS, SQL, PL/SQL, Hive, Spark      1
PhD Thesis Title: Automated Grading of Descriptive Answers through Machine Learning TechniquesCurrent Status: Awarded                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
Studying MSc Statistics in School of Science, Gujarat University.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
Area of Study - Business Operations & StrategyPrimary focus of my Master's Degree was Business Operations (Business Process Re-Engineering/Improvement, Optimization, Supply Chain ). For my minor field of study I took extra credits in Strategy to better prepare for real life business challenges.  During my second year, visited the EU Business School in Munich, Germany as a part of Global Field Study program at IIT Delhi. Got a manufacturing tutorial at BMW production units in Dingolfing in Germany and a General Management tutorial via Corporate visits to BASF & Schneider Electric.                                                                                                                                                                                                                                                                                                                                    1
â¢\tPresident of Nepathya (The cultural cell of NMIMS).â¢\tFounding member of College Rock band called "OXYMORONS"â¢\tWorked in an NGO called Janhit foundation for 3 Weeks full time. Work of our NGO project was published and referred in leading newspapers like The Hindu (English) and Danik Jagran (Hindi)â¢\tCore member of Organizing team of cultural festival of NMIMS called "Euphoria '12".â¢\tCorporate projects for Sensibol Technologies and mbaskool.com in field of product design,marketing and branding.â¢\tWinner of Business & General quiz held by NMIMS on national level.                                                                                                                                                                                                                                                                                                                                      1
First Class with Distinction                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
From the department of Information and Communication technologyMajor is Computer Network with minor in subjects  Big Data,Cloud Computing and Parallel Computing                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
Completed module for high functionality programming language like Python, completed free and open-source cross-platform document-oriented database program Mongo Db, parallel Programming model MapReduce, completed open source distributed NoSQL database management Cassandra, graph database management system Neo4j, Cluster computing, Data analytics, Heuristics and Optimization.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
Business Analytics (Data Science & Big Data)Marketing (Consumer Behavior, Brand Management, Marketing Analytics)Strategic and Operations Leadership                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
Coursework included a perfect blend of theoretical & applied statistics along with topics in theoretical computer science. Provides the perfect background to solve algorithm driven machine learning problems on really large data and also be aware of potential pitfalls and drawbacks of different methodologies. MSc. Dissertation: 'Some Aspects of High Dimensional Data', advised by Prof. Sanjeev Sabnis---                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
Dissertation:Analyzing Cardiac Medical Device Failures with a Machine Learning ApproachMy Research Interests:InformaticsMachine LearningNatural Language ProcessingText Mining                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
Mathematical Programming,Inventory Management,Portfolio Management,Queuing Theory,Data Mining & Data Warehousing,DBMS & VB,Software & Hardware Reliability,Econometric,Statistics,Scheduling Techniques,Marketing Management,Financial Management,Multi Criteria Decision Models.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
Algorithms, Artificial Intelligence, Machine Learning, Mobile & Sensors                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
Name: Education Description 1, dtype: int64

In [7]:
data.dtypes

Full name                      object
Title                          object
Location                       object
Summary                        object
Organization 1                 object
Organization Title 1           object
Organization Start 1           object
Organization End 1             object
Organization Description 1     object
Organization Location 1        object
Organization 2                 object
Organization Title 2           object
Organization Start 2           object
Organization End 2             object
Organization Description 2     object
Organization Location 2        object
Organization 3                 object
Organization Title 3           object
Organization Start 3           object
Organization End 3             object
Organization Description 3     object
Organization Location 3        object
Organization 4                 object
Organization Title 4           object
Organization Start 4           object
Organization End 4             object
Organization Description 4     object
Organization Location 4        object
Organization 5                 object
Organization Title 5           object
Organization Start 5           object
Organization End 5             object
Organization Description 5     object
Organization Location 5        object
Education 1                    object
Education Degree 1             object
Education FOS 1                object
Education Description 1        object
Education 2                    object
Education Degree 2             object
Education FOS 2                object
Education Description 2        object
Education 3                    object
Education Degree 3             object
Education FOS 3                object
Education Description 3        object
Skills                         object
Followers                     float64
Relationship                    int64
Industry                       object
Mutual Count                    int64
Mutual                         object
Mutual 1                       object
Mutual 2                       object
Interests                      object
dtype: object

In [8]:
data.columns

Index(['Full name', 'Title', 'Location', 'Summary', 'Organization 1',
       'Organization Title 1', 'Organization Start 1', 'Organization End 1',
       'Organization Description 1', 'Organization Location 1',
       'Organization 2', 'Organization Title 2', 'Organization Start 2',
       'Organization End 2', 'Organization Description 2',
       'Organization Location 2', 'Organization 3', 'Organization Title 3',
       'Organization Start 3', 'Organization End 3',
       'Organization Description 3', 'Organization Location 3',
       'Organization 4', 'Organization Title 4', 'Organization Start 4',
       'Organization End 4', 'Organization Description 4',
       'Organization Location 4', 'Organization 5', 'Organization Title 5',
       'Organization Start 5', 'Organization End 5',
       'Organization Description 5', 'Organization Location 5', 'Education 1',
       'Education Degree 1', 'Education FOS 1', 'Education Description 1',
       'Education 2', 'Education Degree 2', 'Education FOS 2',
       'Education Description 2', 'Education 3', 'Education Degree 3',
       'Education FOS 3', 'Education Description 3', 'Skills', 'Followers',
       'Relationship', 'Industry', 'Mutual Count', 'Mutual', 'Mutual 1',
       'Mutual 2', 'Interests'],
      dtype='object')

In [9]:
data.columns = [x.lower() for x in data.columns.str.replace(" ","_")]
data.columns

Index(['full_name', 'title', 'location', 'summary', 'organization_1',
       'organization_title_1', 'organization_start_1', 'organization_end_1',
       'organization_description_1', 'organization_location_1',
       'organization_2', 'organization_title_2', 'organization_start_2',
       'organization_end_2', 'organization_description_2',
       'organization_location_2', 'organization_3', 'organization_title_3',
       'organization_start_3', 'organization_end_3',
       'organization_description_3', 'organization_location_3',
       'organization_4', 'organization_title_4', 'organization_start_4',
       'organization_end_4', 'organization_description_4',
       'organization_location_4', 'organization_5', 'organization_title_5',
       'organization_start_5', 'organization_end_5',
       'organization_description_5', 'organization_location_5', 'education_1',
       'education_degree_1', 'education_fos_1', 'education_description_1',
       'education_2', 'education_degree_2', 'education_fos_2',
       'education_description_2', 'education_3', 'education_degree_3',
       'education_fos_3', 'education_description_3', 'skills', 'followers',
       'relationship', 'industry', 'mutual_count', 'mutual', 'mutual_1',
       'mutual_2', 'interests'],
      dtype='object')

In [10]:
data['title'].value_counts()

Data Science at Myntra                                                     3
Data Science and Analytics                                                 2
Data Science Enthusiast                                                    2
Data Science & Machine Learning @Dell                                      1
Data Science engineer at Maropost                                          1
                                                                          ..
Data Science | Data Analytics | Machine Learning                           1
Head of Data Engineering at Sparity, Director at Data Science Authority    1
Data Science | Machine Learning | NLP | Writer @Medium                     1
Open to new opportunities in the field of Data Science & Data Analytics    1
Data Science Geek | VIT | A Toastmaster                                    1
Name: title, Length: 116, dtype: int64

In [11]:
data['location'].value_counts()

bangalore, Karnataka, India        69
Hyderabad, Telangana, India        15
Chennai, Tamil Nadu, India         14
India                               4
bangalore Area, India               3
Gurgaon, Haryana, India             2
Vellore, Tamil Nadu, India          2
Krishna, Andhra Pradesh, India      2
Albuquerque, New Mexico Area        1
Vellore Area, India                 1
South Delhi, Delhi, India           1
Chennai Area, India                 1
Mumbai, Maharashtra, India          1
Salem, Tamil Nadu, India            1
New Delhi, Delhi, India             1
Ghaziabad, Uttar Pradesh, India     1
Name: location, dtype: int64

In [12]:
pip install autocorrect

Requirement already satisfied: autocorrect in c:\users\kethan\anaconda3\lib\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.0.1; however, version 21.1.1 is available.
You should consider upgrading via the 'C:\Users\kethan\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [13]:
from autocorrect import Speller

In [14]:
data['organization_1'].value_counts()

Accenture                  4
ZS                         4
Oracle                     3
Amazon                     3
PayPal                     3
                          ..
Syniti                     1
Freelancer                 1
Purple techno Solutions    1
Myntra Jabong              1
Data Science Consulting    1
Name: organization_1, Length: 93, dtype: int64

In [15]:
data['organization_2'].value_counts()

PayPal                    3
Amazon                    2
Dell                      2
LinkedIn                  2
Mu Sigma Inc.             2
                         ..
Rinalytics Advisors       1
Grail Insights            1
PhonePe                   1
CareerNet Technologies    1
upskope                   1
Name: organization_2, Length: 101, dtype: int64

In [16]:
data['organization_3'].value_counts()

Mu Sigma Inc.                                   3
PayPal                                          3
ZS                                              2
Cognizant                                       2
Great Learning                                  2
                                               ..
ExpertsHub Industry Skill Development Centre    1
Vue.ai                                          1
Columbia Asia Hospitals Pvt. Ltd.               1
Dell                                            1
Zyme                                            1
Name: organization_3, Length: 86, dtype: int64

In [17]:
data['organization_4'].value_counts()

Mu Sigma Inc.                3
Accenture                    2
Samsung Electronics          2
PayPal                       2
Tata Consultancy Services    2
                            ..
Envestnet | Yodlee           1
Consultation                 1
Monsanto Company             1
Infosys                      1
Nanolocal Technologies       1
Name: organization_4, Length: 74, dtype: int64

In [18]:
data['organization_5'].value_counts()

Mu Sigma Inc.                                                 5
Wipro Technologies                                            2
IBM                                                           2
Amazon                                                        2
HCL Technologies                                              2
Berkshire India Limited                                       1
Coupang                                                       1
Electronics Corporation of India Limited (ECIL)               1
Intimate Fashions                                             1
Mu Sigma                                                      1
Loylty Rewardz Mngt Pvt Ltd                                   1
Samsung Electronics                                           1
Mahindra & Mahindra - Cleantech Business                      1
Infosys Limited                                               1
Dell                                                          1
IIM Rohtak                                                    1
[24]7                                                         1
Indian Institute Of Technology(BHU),Varanasi                  1
Genpact SMS COE                                               1
Rivigo                                                        1
Evalueserve                                                   1
CareerIn                                                      1
HiLT, Indian Institute of Information Technology, Sri City    1
IT Association, SRM University                                1
Indian Institute of Management, Lucknow                       1
Royal Bank of Scotland                                        1
Symphony Teleca                                               1
Apigee Technologies (Now Google Inc.)                         1
Reliance Industries Limited                                   1
GE Aviation                                                   1
Nielsen                                                       1
Lovelace Health System                                        1
IIIT-B                                                        1
Tesco.com                                                     1
ICICI Bank                                                    1
Endurance Technologies Ltd.                                   1
Indix                                                         1
Anokha                                                        1
HealthKart                                                    1
Technosoft Corporation                                        1
PayPal                                                        1
Aon Hewitt India                                              1
Fractal Analytics                                             1
Procter & Gamble                                              1
Infosys                                                       1
Virginia Tech                                                 1
BearingPoint                                                  1
Envestnet | Yodlee                                            1
Yottaasys                                                     1
Tata Consultancy Services                                     1
Zyme Solutions                                                1
PurpleCrest : Excellence Partner                              1
Cartesian Consulting                                          1
Flipkart.com                                                  1
Name: organization_5, dtype: int64

In [19]:
data['education_1'].value_counts()

Great Lakes Institute of Management                                7
International Institute of Information Technology â Bangalore    4
Birla Institute of Technology and Science, Pilani                  3
Indian Institute of Management Bangalore                           3
Indian Institute of Management, Calcutta                           3
                                                                  ..
Delhi College of Engineering                                       1
Manipal Institute of Technology                                    1
VELS University                                                    1
University of Stirling                                             1
Pune Institute of Computer Technology                              1
Name: education_1, Length: 89, dtype: int64

In [20]:
data['education_2'].value_counts()

Delhi University                                     3
College of Engineering, Guindy                       2
Birla Institute of Technology and Science, Pilani    2
West Bengal University of Technology                 2
Bangalore University                                 2
                                                    ..
Model School Dalmianagar                             1
Centre for Development of Advanced Computing         1
Imarticus Learning Institute,Pune                    1
Bangalore Institute of Technology (BIT)              1
Indian Institute of Technology, Kharagpur            1
Name: education_2, Length: 89, dtype: int64

In [21]:
data['education_3'].value_counts()

Kendriya Vidyalaya                                           2
Bhashyam College of Education                                1
Sanganabasava International Residential School,Bijapur       1
Birla Institute of Technology and Science, Pilani            1
DLF Public School                                            1
BSA Crescent Institute of Science and Technology             1
Central Academy                                              1
Vidya Pratishthans Bal Vikas Mandir , Baramati, Dist.Pune    1
Sri gayatri junior college,champapet.                        1
Vidyanekathana                                               1
Osmania University                                           1
Loreto Day School Sealdah                                    1
Bishop Januarius Memorial Carmel Academy                     1
Udacity                                                      1
Delhi Public School, Ranchi                                  1
St. Xavier's College                                         1
Army Public School                                           1
Green Park Matric. Hr. Sec. School                           1
Fergusson College                                            1
Sir M Visvesvaraya Institute Of Technology                   1
Great Lakes Institute of Management                          1
Symbiosis Institute of Business Management, bangalore        1
Velagapudi Ramakrishna Siddhartha Engineering College        1
Vidyodaya Girl's Higher Secondary School                     1
Sri Venkateswara College of Engineering                      1
jaigopal garodia                                             1
University of California, Berkeley                           1
Gujarat University                                           1
Central Board of Secondary Education                         1
Brilliant Grammar High school                                1
The University of New Mexico                                 1
D.T.E.A Senior Secondary School                              1
Tagore Public School                                         1
Narayana Junior College, Nellore                             1
Ramjas College                                               1
Vidya Mandir, Chennai                                        1
Indian Statistical Institute, Kolkata                        1
M.S. Ramaiah Institute Of Technology                         1
De Nobili School Maithon                                     1
St. Stanislaus High School                                   1
D.A.V Public School Bilaspur                                 1
Sri Chandrasekharendra Saraswathi Viswa Mahavidyalaya        1
Sacred Heart Convent School                                  1
Nagpur University                                            1
CECRI                                                        1
Scottish Church College                                      1
Mahesh PU College, Mangalore                                 1
Rajasthan public sr.sec school,bissau                        1
D.A.V. Group of Schools, Chennai                             1
Brightlands School                                           1
PUCJ T College                                               1
Sri Chaitanya Junior College                                 1
HOLY CHILD SCHOOL                                            1
University of Calicut                                        1
Chinmaya Vidyalaya                                           1
Kendriya Vidyalaya 9BRD AFS, Pune                            1
D.T.E.A                                                      1
Macquarie University                                         1
Name: education_3, dtype: int64

In [22]:
data['skills'].value_counts()

""                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        2
"SQL : 22, Microsoft Excel : 17, R : 13, Analytics : 13, Requirements Analysis : 8, Big Data : 7, Business Analysis : 7, Data Analysis : 5, Supply Chain Management : 3, SAS Programming : 3, SAS programming : 2, Content Strategy : 0, Analytical Skills : 0, Machine Learning : 0, Statistical Modeling : 0, Data Visualization : 0, Strategy : 0, Product Development : 0, Artificial Intelligence (AI) : 0, Data Mining : 0, Data Science : 0, Project Management : 0, Business Intelligence (BI) : 0, PL/SQL : 12, Microsoft Office : 12, C : 9, Hadoop : 2, Basic HTML : 2, Basic CSS : 2, C++ : 2, Python : 1, Java : 1, AJAX : 0, MapReduce : 0, Team Management : 1, Leadership : 0, Management : 0, Teradata : 6, Apache Pig : 5, Hive : 4, Time Series Analysis : 1, ESD control : 1, Anomaly Detection : 1, Path Analysis : 1, Topic Modeling : 0, A/B Testing : 0, Apache Spark : 0, Natural Language Processing (NLP) : 0, Predictive Modeling : 0, Basic jquery : 2, "    1
"Analytics : 29, Finance : 20, Statistics : 14, Business Analysis : 12, Financial Modeling : 12, Data Analysis : 10, Management Consulting : 8, Market Research : 8, Banking : 7, Valuation : 7, Business Analytics : 6, Analysis : 6, Strategy : 5, Financial Analysis : 3, Real Estate : 1, SAS : 2, Team Management : 5, "                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
"Python : 1, Machine Learning : 1, R : 1, Tableau : 1, Tibco Spotfire : 1, Hive : 0, "                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
"Python (Programming Language) : 7, Statistics : 7, MySQL : 7, Digital Marketing : 2, Social Media Marketing : 2, Data Structures : 4, R : 3, Microsoft Power BI : 1, Tableau : 2, Databases : 2, Microsoft Excel : 1, Microsoft PowerPoint : 1, C : 4, C++ : 4, HTML : 2, Cascading Style Sheets (CSS) : 2, JavaScript : 1, PhP : 2, Java : 2, "                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ..
"Data Warehousing : 58, Business Intelligence : 57, Data Modeling : 53, Data Integration : 32, Business Analysis : 29, Requirements Analysis : 20, Solution Architecture : 15, Analytics : 13, Data Analysis : 11, Data Mining : 8, Enterprise Architecture : 7, ETL : 7, Extract, Transform, Load (ETL) : 4, Information Management : 3, Information Architecture : 2, Machine Learning : 2, Data Science : 1, Deep Learning : 1, Informatica : 19, Business Objects : 11, Oracle : 4, Relational Databases : 3, tensorflow : 1, Teradata : 13, Data Warehouse Architecture : 10, Data Marts : 7, Erwin : 5, Dimensional Modeling : 4, Business Intelligence Tools : 4, Data Models : 4, OLAP : 2, IBM BDW : 2, IBM IIW : 2, InfoSphere Data Architect : 1, "                                                                                                                                                                                                                            1
"Machine Learning : 3, python : 2, Tableau : 2, Data Science : 3, Data Mining : 1, Statistics : 1, Data Visualization : 1, Data Analysis : 4, Computer Vision : 0, Business Analysis : 0, Hadoop : 0, R : 2, SQL : 2, Microsoft Excel : 0, Microsoft Office : 0, Microsoft Word : 0, Microsoft Power BI : 2, Predictive Analytics : 2, Data Analytics : 1, Text Mining : 0, Natural Language Processing (NLP) : 2, Machine Learning Algorithms : 1, "                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
"Machine Learning : 4, Deep Learning : 2, Natural Language Processing (NLP) : 2, Data Analysis : 4, Statistical Data Analysis : 3, Business Analytics : 1, Financial Analysis : 1, Forecasting : 1, Business Intelligence : 1, Data Visualization : 1, Pivot Tables : 2, Customer Relations : 1, Content Development : 2, FPGA : 2, Volunteering : 1, Computer Vision : 1, Python : 1, R : 4, Tableau : 3, Keras : 1, TensorFlow : 1, Microsoft Excel : 2, Microsoft Word : 2, SQL : 3, MySQL : 3, Hadoop : 1, Blogger : 1, VHDL : 2, Matlab : 2, Teamwork : 4, Creativity Skills : 3, Text Classification : 1, Predictive Analytics : 1, Predictive Modeling : 1, Logistic Regression : 2, Decision Trees : 2, Convolutional Neural Networks (CNN) : 1, Exploratory Data Analysis : 3, Time Series Analysis : 1, Data Art : 1, KPI Dashboards : 1, Data Manipulation : 1, Data Cleaning : 1, RDBMS : 3, RStudio : 2, Dashboard : 2, OpenCV : 1, Text Analytics : 1, "                    1
"Data Mining : 92, Big Data : 98, Machine Learning : 69, Analytics : 27, Business Intelligence : 12, Cloud Computing : 31, Business Analytics : 4, Statistical Data Analysis : 4, Data Science : 5, Data Analysis : 13, Algorithms : 35, Mobile Devices : 24, Consulting : 2, Strategy : 2, Customer Relationship Management (CRM) : 2, Deep Learning : 1, Hadoop : 19, R : 10, MapReduce : 4, MySQL : 8, Enterprise Software : 13, C : 74, Python : 13, Android : 31, Java : 55, RTOS : 3, Sentiment Analysis : 5, Text Mining : 5, Hive : 7, Data Analytics : 5, MR : 2, Business Statistics : 2, Web Intelligence : 2, Analysis of business problems/needs : 2, Natural Language Processing : 5, Predictive Analytics : 2, Text Analytics : 3, Text Classification : 3, Big Data Analytics : 2, "                                                                                                                                                                                      1
"Natural Language Processing (NLP) : 2, Machine Learning : 4, Data Analysis : 4, Statistical Modeling : 1, Data Science : 0, Deep Learning : 2, Statistical Data Analysis : 2, Data Visualization : 3, Analytics : 1, Data Mining : 0, Python (Programming Language) : 2, Microsoft Bot Framework : 0, Pandas : 3, TensorFlow : 0, Beautiful Soup : 0, SQL : 1, JavaScript : 0, Hadoop : 1, C (Programming Language) : 1, R : 1, Git : 0, NumPy : 2, Convolutional Neural Networks (CNN) : 1, Artificial Neural Networks : 1, Neural Networks : 1, Regression Analysis : 1, Support Vector Machine (SVM) : 1, Matplotlib : 2, Web Scraping : 0, Predictive Modeling : 0, Machine Learning Algorithms : 0, Information Extraction : 0, Long Short-term Memory (LSTM) : 0, Logistic Regression : 0, Feature Engineering : 0, "                                                                                                                                                              1
Name: skills, Length: 119, dtype: int64

In [23]:
import re

def remove_html(text):
    soup = BeautifulSoup(text,'lxml')
    html_free = soup.get_text()
    return html_free

def remove_punctuation(text):
    no_punct = "".join([c for c in text if c not in string.punctuation])
    return no_punct

def remove_numbers(text):
    no_num = re.sub(r'\d+','',text)
    return no_num

# instantiate tokenizer
tokenizer = RegexpTokenizer(r'\w+')


def remove_stopwords(text):
    words = [w for w in text if w not in stopwords.words('english')]
    return words

# instantiate lemmatizer
lemmatizer = WordNetLemmatizer()

def word_lemmatizer(text):
    lem_text = [lemmatizer.lemmatize(i) for i in text]
    return lem_text

# instantiate stemmer
stemmer = PorterStemmer()

def word_stemmer(text):
    stem_text = " ".join([stemmer.stem(i) for i in text])
    return stem_text

In [24]:
# for summary column
data.summary = data.summary.astype(str)
data.summary = data['summary'].apply(remove_punctuation)
data.summary = data['summary'].apply(remove_numbers)
data.summary.head(5)

0      years of experience in Data Science consulti...
1    Currently part of Data Science team at CRED  A...
2    Heading Data Science Team and building AI prod...
3    Post graduate student in Data Science Engineer...
4    I am a Data Scientist with experience in conce...
Name: summary, dtype: object

In [25]:
data.education_1 = data.education_1.astype(str)
data.education_1 = data['education_1'].apply(remove_punctuation)
data.education_1 = data['education_1'].apply(remove_numbers)
data.education_1.head(120)

0      International Institute of Information Technol...
1      International Institute of Information Technol...
2           Centre for Development of Advanced Computing
3                    Great Lakes Institute of Management
4                Indian Institute of Management Calcutta
                             ...
115            Jawaharlal Nehru Technological University
116                Indian Institute of Technology Kanpur
117       Motilal Nehru National Institute Of Technology
118                                   Manipal University
119                               The Wharton School NIT
Name: education_1, Length: 120, dtype: object

In [26]:
data.location = data.location.astype(str)
data.location = data['location'].apply(remove_punctuation)
data.location = data['location'].apply(remove_numbers)
data.location.head(120)

0             Chennai Area India
1      bangalore Karnataka India
2      bangalore Karnataka India
3       Chennai Tamil Nadu India
4      bangalore Karnataka India
                 ...
115    Hyderabad Telangana India
116    bangalore Karnataka India
117    Hyderabad Telangana India
118    bangalore Karnataka India
119    bangalore Karnataka India
Name: location, Length: 120, dtype: object

In [27]:
data['summary'] = data['summary'].apply(lambda x: tokenizer.tokenize(x.lower()))
data['summary'].head(5)

0    [years, of, experience, in, data, science, con...
1    [currently, part, of, data, science, team, at,...
2    [heading, data, science, team, and, building, ...
3    [post, graduate, student, in, data, science, e...
4    [i, am, a, data, scientist, with, experience, ...
Name: summary, dtype: object

In [28]:
data['education_1'] = data['education_1'].apply(lambda x: tokenizer.tokenize(x.lower()))
data['education_1'].head(120)

0      [international, institute, of, information, te...
1      [international, institute, of, information, te...
2      [centre, for, development, of, advanced, compu...
3              [great, lakes, institute, of, management]
4          [indian, institute, of, management, calcutta]
                             ...
115       [jawaharlal, nehru, technological, university]
116          [indian, institute, of, technology, kanpur]
117    [motilal, nehru, national, institute, of, tech...
118                                [manipal, university]
119                          [the, wharton, school, nit]
Name: education_1, Length: 120, dtype: object

In [29]:
data['location'] = data['location'].apply(lambda x: tokenizer.tokenize(x.lower()))
data['location'].head(120)

0             [chennai, area, india]
1      [bangalore, karnataka, india]
2      [bangalore, karnataka, india]
3      [chennai, tamil, nadu, india]
4      [bangalore, karnataka, india]
                   ...
115    [hyderabad, telangana, india]
116    [bangalore, karnataka, india]
117    [hyderabad, telangana, india]
118    [bangalore, karnataka, india]
119    [bangalore, karnataka, india]
Name: location, Length: 120, dtype: object

In [30]:
data['skills'] = data['skills'].apply(lambda x: remove_stopwords(x))
data['skills'].head(120)

0      [", D,  , S, c, e, n, c, e,  , :,  , 0, ,,  , ...
1      [", P, h, n,  , :,  , 4, ,,  , C, +, +,  , :, ...
2      [", D, e, e, p,  , L, e, r, n, n, g,  , :,  , ...
3      [", P, h, n,  , (, P, r, g, r, n, g,  , L, n, ...
4      [", I, T,  , S, r, e, g,  , :,  , 3, 4, ,,  , ...
                             ...
115    [", D,  , A, n, l,  , :,  , 7, ,,  , S, Q, L, ...
116    [", A, l, g, r, h,  , :,  , 1, 3, ,,  , P, h, ...
117    [", S, Q, L,  , :,  , 3, 7, ,,  , A, n, l, c, ...
118    [", M, c, h, n, e,  , L, e, r, n, n, g,  , :, ...
119    [", S, f, w, r, e,  , D, e, v, e, l, p, e, n, ...
Name: skills, Length: 120, dtype: object

In [31]:
data['summary'] = data['summary'].apply(lambda x: remove_stopwords(x))
data['summary'].head(5)

0    [years, experience, data, science, consulting,...
1    [currently, part, data, science, team, cred, a...
2    [heading, data, science, team, building, ai, p...
3    [post, graduate, student, data, science, engin...
4    [data, scientist, experience, conceptualizing,...
Name: summary, dtype: object

In [32]:
data['education_1'] = data['education_1'].apply(lambda x: remove_stopwords(x))
data['education_1'].head(120)

0      [international, institute, information, techno...
1      [international, institute, information, techno...
2             [centre, development, advanced, computing]
3                  [great, lakes, institute, management]
4              [indian, institute, management, calcutta]
                             ...
115       [jawaharlal, nehru, technological, university]
116              [indian, institute, technology, kanpur]
117    [motilal, nehru, national, institute, technology]
118                                [manipal, university]
119                               [wharton, school, nit]
Name: education_1, Length: 120, dtype: object

In [33]:
data['summary'] = data['summary'].apply(lambda x: word_lemmatizer(x))
data['summary'].head(5)

0    [year, experience, data, science, consulting, ...
1    [currently, part, data, science, team, cred, a...
2    [heading, data, science, team, building, ai, p...
3    [post, graduate, student, data, science, engin...
4    [data, scientist, experience, conceptualizing,...
Name: summary, dtype: object

In [34]:
data['education_1'] = data['education_1'].apply(lambda x: word_lemmatizer(x))
data['education_1'].head(120)

0      [international, institute, information, techno...
1      [international, institute, information, techno...
2             [centre, development, advanced, computing]
3                   [great, lake, institute, management]
4              [indian, institute, management, calcutta]
                             ...
115       [jawaharlal, nehru, technological, university]
116              [indian, institute, technology, kanpur]
117    [motilal, nehru, national, institute, technology]
118                                [manipal, university]
119                               [wharton, school, nit]
Name: education_1, Length: 120, dtype: object

In [35]:
data['location'] = data['location'].apply(lambda x: word_lemmatizer(x))
data['location'].head(120)

0             [chennai, area, india]
1      [bangalore, karnataka, india]
2      [bangalore, karnataka, india]
3      [chennai, tamil, nadu, india]
4      [bangalore, karnataka, india]
                   ...
115    [hyderabad, telangana, india]
116    [bangalore, karnataka, india]
117    [hyderabad, telangana, india]
118    [bangalore, karnataka, india]
119    [bangalore, karnataka, india]
Name: location, Length: 120, dtype: object

In [32]:
#data['summary'] = data['summary'].apply(lambda x: word_stemmer(x))
#data['summary'].head(5)

In [36]:
pip install wordcloud

Collecting wordcloud
  Downloading wordcloud-1.8.0-cp37-cp37m-win_amd64.whl (157 kB)
Requirement already satisfied: numpy>=1.6.1 in c:\users\kethan\anaconda3\lib\site-packages (from wordcloud) (1.16.5)
Requirement already satisfied: pillow in c:\users\kethan\anaconda3\lib\site-packages (from wordcloud) (6.2.0)
Requirement already satisfied: matplotlib in c:\users\kethan\anaconda3\lib\site-packages (from wordcloud) (3.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\kethan\anaconda3\lib\site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kethan\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\kethan\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\kethan\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.8.0)
Requirement already satisfied: six in c:\users\kethan\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.12.0)
Requirement already satisfied: setuptools in c:\users\kethan\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->wordcloud) (41.4.0)
Installing collected packages: wordcloud
Successfully installed wordcloud-1.8.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.1.1; however, version 20.2.3 is available.
You should consider upgrading via the 'C:\Users\kethan\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [37]:
import numpy as np

from PIL import Image
from wordcloud import WordCloud, STOPWORDS

import matplotlib.pyplot as plt

In [38]:
text = ("\n ".join([" ".join(x) for x in data.summary]))
print ("There are {} words in the combination of all summary.".format(len(text)))

There are 47836 words in the combination of all summary.

In [39]:
def create_word_cloud(string):
    cloud = WordCloud(background_color = "white", max_words = 500, stopwords = set(STOPWORDS))
    cloud.generate(string)
    cloud.to_file("wordCloud.png")
    
dataset = text
create_word_cloud(dataset)

In [40]:
text1 = ("\n ".join([" ".join(x) for x in data.education_1]))
print ("There are {} words in the combination of all education.".format(len(text1)))

There are 4087 words in the combination of all education.

In [41]:
def create_word_cloud(string):
    cloud = WordCloud(background_color = "white", max_words = 500, stopwords = set(STOPWORDS))
    cloud.generate(string)
    cloud.to_file("wordCloud1.png")
    
dataset = text1
create_word_cloud(dataset)

In [42]:
text2 = ("\n ".join([" ".join(x) for x in data.location]))
print ("There are {} words in the combination of all location.".format(len(text2)))

There are 3085 words in the combination of all location.

In [43]:
def create_word_cloud(string):
    cloud = WordCloud(background_color = "white", max_words = 500, stopwords = set(STOPWORDS))
    cloud.generate(string)
    cloud.to_file("wordCloud2.png")
    
dataset = text2
create_word_cloud(dataset)

In [44]:
text3 = ("\n ".join([" ".join(x) for x in data.skills]))
print ("There are {} words in the combination of all skills.".format(len(text3)))

There are 85492 words in the combination of all skills.